{% block title trans("account.reset.title") %}
{% extends 'auth.twig' %}

{% block body %}
	<form action="{{ path('auth.password')}}" method="post">
		{% if flash('error') %}
			<div class="alert alert-danger">
				{{ flash('error') }}
			</div>
		{% endif %}

		{% if flash('success') %}
			<div class="alert alert-success">
				{{ flash('success') }}
			</div>
		{% endif %}

		{{ csrf_input() }}
		{{ field('email', null, trans("email"), {type: 'email'}) }}
		{{ recaptcha()}}

		<div class="col-md-12 col-sm-12">
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">
					{{ trans("account.reset.button")}}
				</button>
			</div>
		</div>
	</form>
{% endblock %}
