<div class="col-md-12 col-xl-4 col-sm-12">
	<div class="pricing {{ product.pinned  ? 'pricing-highlight' : ''}}">
		<div class="pricing-title">
			{{ product.name }}
		</div>
		<div class="pricing-padding">
		<h6>
			{% if product.discounted %}
				<del>
					{{ product.originalPrice(product.toRecurring().name) | formatted_price(true) | trans }}</del>
				/
				{{ trans(product.paymenttype) }}
			{% endif %}
			</h6>
			<div class="pricing-price">
				<h4 class="text-warning">{{ product.price(product.toRecurring().name) | formatted_price(true) | trans}} / {{ trans(product.paymenttype)}}</h4>
			</div>
			<div class="pricing-details">
				{{ product.description  | raw}}

			</div>
		</div>
		<div class="pricing-cta">

			{% if product.stockcontrol == "0" or (product.stockcontrol == '1' and product.stock != 0) %}
				{% if module_is_enabled('Basket') %}
					<form method="POST" action="{{ path('basket.add', {id: product.id})}}">
						{{ token | raw }}
						{% if basket_row(product) %}
							<input type="hidden" name="quantity" value="{{ basket_row(product).quantity }}">
							<input type="hidden" name="billing" value="{{ basket_row(product).billing }}">
						{% endif %}
						<button class="btn btn-lg btn-block btn-info">
							{{ trans("add_cart")}}
							<i class="fas fa-arrow-right"></i>
						</button>
					</form>
				{% else %}
					<a class="btn btn-lg btn-block btn-info" href="{{ path('shop.checkout', {id: product.id})}}">
						{{ trans("buy")}}
						<i class="fas fa-arrow-right"></i>
					</a>
				{% endif %}
			{% else %}

				<button class="btn btn-lg btn-block btn-info" type="button">
					{{ trans("out_stock")}}<i class="fas fa-time"></i>
				</button>
			{% endif %}
		</div>
	</div>
</div>
